@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/variables' as *;

.dropdown {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 10;
    opacity: 0;

    pointer-events: none;

    transform: translateY(35px);
    transition: $transition;

    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    width: fit-content;

    @include glass();

    padding: 12px;
    padding-top: 0px;

    &.open {
        opacity: 1;
        pointer-events: all;
        transform: translateY(50px);

        border-top-right-radius: 0;

        padding-top: 32px;
    }
}