@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/variables' as *;

.dropdown {
    position: absolute;
    top: 0;
    right: -1px;

    z-index: 10;
    opacity: 0;

    pointer-events: none;

    transform: translateY(35px);
    transition: $transition;

    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    width: fit-content;

    @include glass($blur: 64px, $bg: var(--grey-glass));

    padding: 12px;

    &.open {
        opacity: 1;
        pointer-events: all;
        transform: translateY(72px);

        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}