@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/variables' as *;

.error-modal {
  width: 100%;
  max-width: 350px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text);
  text-align: center;
}

.error-modal__header {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent);
}

.error-modal__body {
  font-size: 15px;
  color: var(--text-soft);
}

.error-modal__footer {
  display: flex;
  justify-content: center;
  gap: 12px;

  button {
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--accent);
    color: #fff;
    transition: background 0.2s ease;

    &:hover {
      background-color: var(--accent-hover);
    }

    &:active {
      background-color: var(--accent-active);
    }
  }
}
