$success: #30d158;       // iOS Green
$success-hover: #4be36f;
$success-active: #22b945;

$danger: #ff453a;        // iOS Red
$danger-hover: #ff6b63;
$danger-active: #e1332a;
$danger-shadow: #ff443a42;