* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
}

input {
    width: 100%;
    padding: 0;
    outline: none;
    border: none;
}

button {
    background-color: transparent;

    cursor: pointer;

    padding: 0;
    border: none;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3, h2, h1 {
    margin: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}