@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/variables' as *;
@use "@/ui/Button/buttons" as *;

.header {
  width: 100%;
  padding: 18px 20px;
  background: var(--bg);
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 18px;
  border-radius: 22px;
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 0 12px 35px var(--shadow);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  transition: $transition;

  position: relative;
  z-index: 30;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;

  position: relative;
  z-index: inherit;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 999px;
  background: linear-gradient(135deg, var(--accent), var(--accent-hover));
  padding: 2px;
  display: grid;
  place-items: center;
}

.avatarInner {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.12);
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.userText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.welcome {
  font-size: 13px;
  color: var(--text-muted);
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  letter-spacing: -0.02em;
  cursor:help;
}

.role {
  font-size: 13px;
  color: var(--text-muted);
}

.btn {
  max-width: 120px;
}

.btn_p {
  @include button-secondary($width: 120px);

  text-decoration: none;
}

.reload {
  width: 32px;
  height: 32px;

  &:hover svg {
    fill: var(--accent-hover);
    transform: translateY(-2px);
  }

  &:active svg {
    fill: var(--accent-active);
    transform: translateY(0);
  
    filter: drop-shadow(0 2px 5px var(--accent-active));
  }
}

.reload svg {
  width: 32px;
  height: 32px;

  fill: var(--accent);

  transition: $transition;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;

  position: relative;
  z-index: inherit;
}

.ghost__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg);
  z-index: 20;
  border-radius: 22px;
  box-shadow: 0 12px 35px var(--shadow);
}