@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/typography' as *;

.input {
    width: 100%;

    & label {
        position: relative;
    }

    &__label {
        @include uiText(sm);

        display: block;

        color: var(--text-muted);

        margin-bottom: 6px;
    }

    &__element {
        @include uiText(md);

        width: 100%;
        padding: 12px;
        border-radius: $b-radius;
        border: 1px solid var(--border);
        background-color: var(--glass-bg);
        color: var(--text);
        font-size: 14px;
        outline: none;
        transition: $transition;

        &::placeholder {
            color: var(--text-soft);
        }

        &:hover {
            border-color: var(--accent-hover);
        }

        &:focus {
            border-color: var(--accent-active);
            padding-left: 8px;
            box-shadow: 0 0 0 3px var(--box-shadow-color);
        }

        &__error {
            border-color: $danger;

            &:hover {
                border-color: $danger-hover;
            }

            &:focus {
                border-color: $danger-active;
                padding-left: 8px;
                box-shadow: 0 0 0 3px $danger-shadow;
            }
        }
    }

    &__button {
        position: absolute;
        top: -4px;
        right: 12px;

        height: 24px;

        & svg {
            stroke: var(--border);

            transition: $transition;
        }

        &:hover svg {
            stroke: var(--accent-hover);
        }

        &:active svg {
            stroke: var(--accent-active);
        }
    }

    &__error {
        @include uiText(xs);

        color: $danger;

        margin-top: 4px;
    }
}